<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<p>This content is on the grid.</p>
			</div>
			<div class="col-xs-6">
				<p>(Yours should be too)</p>
			</div>
		</div>
    </div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<p>For more formatting ideas or instructions, visit the bootstrap site.</p>
			</div>
		</div>
    </div>
</main>
