﻿<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <p>{{ author.name}}</p>
            </div>

            <div class="col-xs-4">
                <p>{{ author.title }}</p>
            </div>

            <div class="col-xs-4">
                <p>{{ author.company }}</p>
            </div>
        </div>
    </div>
</main>
