﻿<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h4>Here is your footer</h4>
                <div class="copy">&copy; 2015</div>
            </div>

        </div>
    </div>
       

</footer>
